services:
  mediamtx:
    image: bluenviron/mediamtx:latest-ffmpeg
    container_name: mediamtx
    restart: unless-stopped
    ports:
      - "8554:8554" # RTSP
      - "1935:1935" # RTMP
      - "8888:8888" # HLS
      - "8889:8889" # WebRTC
      - "9997:9997" # API
      - "8189:8189/udp" # WebRTC UDP (Required for ICE)
    volumes:
      - ./mediamtx.yml:/mediamtx.yml
